#nav_menu ul{
    list-style: none;
}
#nav_menu li{
    float: left;
}
#nav_menu li a{
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem{
    border-right: none;
}
#nav_menu ul li a.currentitem{
    color: yellow;
}
article h1{
    padding:1em;
}

hr.dotted{
    width: 25%;
    border-top: dotted;
    padding: 1em, 0, .5em;
}
aside ol{
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
}
